[Desktop Entry]
Comment=Beautiful dark theme with recolored Breeze icons and Mac style gradient Aurorae theme
Name=Apollo
X-KDE-PluginInfo-Author=Josh Freeno
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=freefreeno81@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Apollo
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/freefreeno/Apollo-KDE
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-Plasma-MainScript=defaults
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1317121,kns://plasma-themes.knsrc/api.kde-look.org/1317122,kns://aurorae.knsrc/api.kde-look.org/1317123,kns://icons.knsrc/api.kde-look.org/1317124,kns://wallpaper.knsrc/api.kde-look.org/1317085,kns://wallpaper.knsrc/api.kde-look.org/1317084
